In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
# columns: add, select, delete, rename; Head
# and Tail functions; Indexing using Labels, Boolean Indexing;

In [4]:
df.shape

(150, 6)

In [5]:
df.loc[0:50:5, :] # all columns
df.loc[0:50:5, 'SepalLengthCm':'PetalWidthCm']
df.loc[0:50:5, ['SepalWidthCm','Species']]

df.loc[0:50:5, :] # all columns
df.loc[:, :]
df.loc[[40, 4, 100, 149], :]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
40,41,5.0,3.5,1.3,0.3,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
100,101,6.3,3.3,6.0,2.5,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df.iloc[0:51:5, :] # all columns
df.iloc[0:51:5, 1:4]
df.iloc[0:51:5, [-1, 2]]

df.iloc[0:50:5, :] # all columns
df.iloc[:, :]
df.iloc[[40, 4, 100, 149], :]
df.iloc[[40, 4, 100, 149],  [-1, 2]]

            Species  SepalWidthCm
40      Iris-setosa           3.5
4       Iris-setosa           3.6
100  Iris-virginica           3.3
149  Iris-virginica           3.0

In [7]:
# iterrows
# iteritems / items
# itertuple

for i, r in df.iterrows():
    print(i)
    print(r)
    print(r['Species'], r['SepalWidthCm'])
    break

0
Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object
Iris-setosa 3.5

In [8]:
for i, c in df.items(): #iteritems():
    print(i)
    print(c[140:150])

Id
140    141
141    142
142    143
143    144
144    145
145    146
146    147
147    148
148    149
149    150
Name: Id, dtype: int64
SepalLengthCm
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, dtype: float64
SepalWidthCm
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, dtype: float64
PetalLengthCm
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, dtype: float64
PetalWidthCm
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, dtype: float64
Species
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, dtype: object

In [9]:
for t in df.itertuples():
#     print(i)
    print(t)

Pandas(Index=0, Id=1, SepalLengthCm=5.1, SepalWidthCm=3.5, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=1, Id=2, SepalLengthCm=4.9, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=2, Id=3, SepalLengthCm=4.7, SepalWidthCm=3.2, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=3, Id=4, SepalLengthCm=4.6, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=4, Id=5, SepalLengthCm=5.0, SepalWidthCm=3.6, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=5, Id=6, SepalLengthCm=5.4, SepalWidthCm=3.9, PetalLengthCm=1.7, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=6, Id=7, SepalLengthCm=4.6, SepalWidthCm=3.4, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=7, Id=8, SepalLengthCm=5.0, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=8, Id=9, SepalLengthCm=4.4, SepalWidthCm=2.9, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=9, Id=10, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=10, Id=11, SepalLengthCm=5.4, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=11, Id=12, SepalLengthCm=4.8, SepalWidthCm=3.4, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=12, Id=13, SepalLengthCm=4.8, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=13, Id=14, SepalLengthCm=4.3, SepalWidthCm=3.0, PetalLengthCm=1.1, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=14, Id=15, SepalLengthCm=5.8, SepalWidthCm=4.0, PetalLengthCm=1.2, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=15, Id=16, SepalLengthCm=5.7, SepalWidthCm=4.4, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=16, Id=17, SepalLengthCm=5.4, SepalWidthCm=3.9, PetalLengthCm=1.3, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=17, Id=18, SepalLengthCm=5.1, SepalWidthCm=3.5, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=18, Id=19, SepalLengthCm=5.7, SepalWidthCm=3.8, PetalLengthCm=1.7, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=19, Id=20, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.5, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=20, Id=21, SepalLengthCm=5.4, SepalWidthCm=3.4, PetalLengthCm=1.7, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=21, Id=22, SepalLengthCm=5.1, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=22, Id=23, SepalLengthCm=4.6, SepalWidthCm=3.6, PetalLengthCm=1.0, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=23, Id=24, SepalLengthCm=5.1, SepalWidthCm=3.3, PetalLengthCm=1.7, PetalWidthCm=0.5, Species='Iris-setosa')
Pandas(Index=24, Id=25, SepalLengthCm=4.8, SepalWidthCm=3.4, PetalLengthCm=1.9, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=25, Id=26, SepalLengthCm=5.0, SepalWidthCm=3.0, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=26, Id=27, SepalLengthCm=5.0, SepalWidthCm=3.4, PetalLengthCm=1.6, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=27, Id=28, SepalLengthCm=5.2, SepalWidthCm=3.5, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=28, Id=29, SepalLengthCm=5.2, SepalWidthCm=3.4, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=29, Id=30, SepalLengthCm=4.7, SepalWidthCm=3.2, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=30, Id=31, SepalLengthCm=4.8, SepalWidthCm=3.1, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=31, Id=32, SepalLengthCm=5.4, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=32, Id=33, SepalLengthCm=5.2, SepalWidthCm=4.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=33, Id=34, SepalLengthCm=5.5, SepalWidthCm=4.2, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=34, Id=35, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=35, Id=36, SepalLengthCm=5.0, SepalWidthCm=3.2, PetalLengthCm=1.2, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=36, Id=37, SepalLengthCm=5.5, SepalWidthCm=3.5, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=37, Id=38, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=38, Id=39, SepalLengthCm=4.4, SepalWidthCm=3.0, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=39, Id=40, SepalLengthCm=5.1, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=40, Id=41, SepalLengthCm=5.0, SepalWidthCm=3.5, PetalLengthCm=1.3, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=41, Id=42, SepalLengthCm=4.5, SepalWidthCm=2.3, PetalLengthCm=1.3, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=42, Id=43, SepalLengthCm=4.4, SepalWidthCm=3.2, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=43, Id=44, SepalLengthCm=5.0, SepalWidthCm=3.5, PetalLengthCm=1.6, PetalWidthCm=0.6, Species='Iris-setosa')
Pandas(Index=44, Id=45, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.9, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=45, Id=46, SepalLengthCm=4.8, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=46, Id=47, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=47, Id=48, SepalLengthCm=4.6, SepalWidthCm=3.2, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=48, Id=49, SepalLengthCm=5.3, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=49, Id=50, SepalLengthCm=5.0, SepalWidthCm=3.3, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=50, Id=51, SepalLengthCm=7.0, SepalWidthCm=3.2, PetalLengthCm=4.7, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=51, Id=52, SepalLengthCm=6.4, SepalWidthCm=3.2, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=52, Id=53, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=4.9, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=53, Id=54, SepalLengthCm=5.5, SepalWidthCm=2.3, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=54, Id=55, SepalLengthCm=6.5, SepalWidthCm=2.8, PetalLengthCm=4.6, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=55, Id=56, SepalLengthCm=5.7, SepalWidthCm=2.8, PetalLengthCm=4.5, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=56, Id=57, SepalLengthCm=6.3, SepalWidthCm=3.3, PetalLengthCm=4.7, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=57, Id=58, SepalLengthCm=4.9, SepalWidthCm=2.4, PetalLengthCm=3.3, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=58, Id=59, SepalLengthCm=6.6, SepalWidthCm=2.9, PetalLengthCm=4.6, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=59, Id=60, SepalLengthCm=5.2, SepalWidthCm=2.7, PetalLengthCm=3.9, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=60, Id=61, SepalLengthCm=5.0, SepalWidthCm=2.0, PetalLengthCm=3.5, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=61, Id=62, SepalLengthCm=5.9, SepalWidthCm=3.0, PetalLengthCm=4.2, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=62, Id=63, SepalLengthCm=6.0, SepalWidthCm=2.2, PetalLengthCm=4.0, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=63, Id=64, SepalLengthCm=6.1, SepalWidthCm=2.9, PetalLengthCm=4.7, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=64, Id=65, SepalLengthCm=5.6, SepalWidthCm=2.9, PetalLengthCm=3.6, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=65, Id=66, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=4.4, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=66, Id=67, SepalLengthCm=5.6, SepalWidthCm=3.0, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=67, Id=68, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=4.1, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=68, Id=69, SepalLengthCm=6.2, SepalWidthCm=2.2, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=69, Id=70, SepalLengthCm=5.6, SepalWidthCm=2.5, PetalLengthCm=3.9, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=70, Id=71, SepalLengthCm=5.9, SepalWidthCm=3.2, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-versicolor')
Pandas(Index=71, Id=72, SepalLengthCm=6.1, SepalWidthCm=2.8, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=72, Id=73, SepalLengthCm=6.3, SepalWidthCm=2.5, PetalLengthCm=4.9, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=73, Id=74, SepalLengthCm=6.1, SepalWidthCm=2.8, PetalLengthCm=4.7, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=74, Id=75, SepalLengthCm=6.4, SepalWidthCm=2.9, PetalLengthCm=4.3, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=75, Id=76, SepalLengthCm=6.6, SepalWidthCm=3.0, PetalLengthCm=4.4, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=76, Id=77, SepalLengthCm=6.8, SepalWidthCm=2.8, PetalLengthCm=4.8, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=77, Id=78, SepalLengthCm=6.7, SepalWidthCm=3.0, PetalLengthCm=5.0, PetalWidthCm=1.7, Species='Iris-versicolor')
Pandas(Index=78, Id=79, SepalLengthCm=6.0, SepalWidthCm=2.9, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=79, Id=80, SepalLengthCm=5.7, SepalWidthCm=2.6, PetalLengthCm=3.5, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=80, Id=81, SepalLengthCm=5.5, SepalWidthCm=2.4, PetalLengthCm=3.8, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=81, Id=82, SepalLengthCm=5.5, SepalWidthCm=2.4, PetalLengthCm=3.7, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=82, Id=83, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=3.9, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=83, Id=84, SepalLengthCm=6.0, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=84, Id=85, SepalLengthCm=5.4, SepalWidthCm=3.0, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=85, Id=86, SepalLengthCm=6.0, SepalWidthCm=3.4, PetalLengthCm=4.5, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=86, Id=87, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=4.7, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=87, Id=88, SepalLengthCm=6.3, SepalWidthCm=2.3, PetalLengthCm=4.4, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=88, Id=89, SepalLengthCm=5.6, SepalWidthCm=3.0, PetalLengthCm=4.1, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=89, Id=90, SepalLengthCm=5.5, SepalWidthCm=2.5, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=90, Id=91, SepalLengthCm=5.5, SepalWidthCm=2.6, PetalLengthCm=4.4, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=91, Id=92, SepalLengthCm=6.1, SepalWidthCm=3.0, PetalLengthCm=4.6, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=92, Id=93, SepalLengthCm=5.8, SepalWidthCm=2.6, PetalLengthCm=4.0, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=93, Id=94, SepalLengthCm=5.0, SepalWidthCm=2.3, PetalLengthCm=3.3, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=94, Id=95, SepalLengthCm=5.6, SepalWidthCm=2.7, PetalLengthCm=4.2, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=95, Id=96, SepalLengthCm=5.7, SepalWidthCm=3.0, PetalLengthCm=4.2, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=96, Id=97, SepalLengthCm=5.7, SepalWidthCm=2.9, PetalLengthCm=4.2, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=97, Id=98, SepalLengthCm=6.2, SepalWidthCm=2.9, PetalLengthCm=4.3, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=98, Id=99, SepalLengthCm=5.1, SepalWidthCm=2.5, PetalLengthCm=3.0, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=99, Id=100, SepalLengthCm=5.7, SepalWidthCm=2.8, PetalLengthCm=4.1, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=100, Id=101, SepalLengthCm=6.3, SepalWidthCm=3.3, PetalLengthCm=6.0, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=101, Id=102, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=102, Id=103, SepalLengthCm=7.1, SepalWidthCm=3.0, PetalLengthCm=5.9, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=103, Id=104, SepalLengthCm=6.3, SepalWidthCm=2.9, PetalLengthCm=5.6, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=104, Id=105, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.8, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=105, Id=106, SepalLengthCm=7.6, SepalWidthCm=3.0, PetalLengthCm=6.6, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=106, Id=107, SepalLengthCm=4.9, SepalWidthCm=2.5, PetalLengthCm=4.5, PetalWidthCm=1.7, Species='Iris-virginica')
Pandas(Index=107, Id=108, SepalLengthCm=7.3, SepalWidthCm=2.9, PetalLengthCm=6.3, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=108, Id=109, SepalLengthCm=6.7, SepalWidthCm=2.5, PetalLengthCm=5.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=109, Id=110, SepalLengthCm=7.2, SepalWidthCm=3.6, PetalLengthCm=6.1, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=110, Id=111, SepalLengthCm=6.5, SepalWidthCm=3.2, PetalLengthCm=5.1, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=111, Id=112, SepalLengthCm=6.4, SepalWidthCm=2.7, PetalLengthCm=5.3, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=112, Id=113, SepalLengthCm=6.8, SepalWidthCm=3.0, PetalLengthCm=5.5, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=113, Id=114, SepalLengthCm=5.7, SepalWidthCm=2.5, PetalLengthCm=5.0, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=114, Id=115, SepalLengthCm=5.8, SepalWidthCm=2.8, PetalLengthCm=5.1, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=115, Id=116, SepalLengthCm=6.4, SepalWidthCm=3.2, PetalLengthCm=5.3, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=116, Id=117, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.5, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=117, Id=118, SepalLengthCm=7.7, SepalWidthCm=3.8, PetalLengthCm=6.7, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=118, Id=119, SepalLengthCm=7.7, SepalWidthCm=2.6, PetalLengthCm=6.9, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=119, Id=120, SepalLengthCm=6.0, SepalWidthCm=2.2, PetalLengthCm=5.0, PetalWidthCm=1.5, Species='Iris-virginica')
Pandas(Index=120, Id=121, SepalLengthCm=6.9, SepalWidthCm=3.2, PetalLengthCm=5.7, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=121, Id=122, SepalLengthCm=5.6, SepalWidthCm=2.8, PetalLengthCm=4.9, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=122, Id=123, SepalLengthCm=7.7, SepalWidthCm=2.8, PetalLengthCm=6.7, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=123, Id=124, SepalLengthCm=6.3, SepalWidthCm=2.7, PetalLengthCm=4.9, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=124, Id=125, SepalLengthCm=6.7, SepalWidthCm=3.3, PetalLengthCm=5.7, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=125, Id=126, SepalLengthCm=7.2, SepalWidthCm=3.2, PetalLengthCm=6.0, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=126, Id=127, SepalLengthCm=6.2, SepalWidthCm=2.8, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=127, Id=128, SepalLengthCm=6.1, SepalWidthCm=3.0, PetalLengthCm=4.9, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=128, Id=129, SepalLengthCm=6.4, SepalWidthCm=2.8, PetalLengthCm=5.6, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=129, Id=130, SepalLengthCm=7.2, SepalWidthCm=3.0, PetalLengthCm=5.8, PetalWidthCm=1.6, Species='Iris-virginica')
Pandas(Index=130, Id=131, SepalLengthCm=7.4, SepalWidthCm=2.8, PetalLengthCm=6.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=131, Id=132, SepalLengthCm=7.9, SepalWidthCm=3.8, PetalLengthCm=6.4, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=132, Id=133, SepalLengthCm=6.4, SepalWidthCm=2.8, PetalLengthCm=5.6, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=133, Id=134, SepalLengthCm=6.3, SepalWidthCm=2.8, PetalLengthCm=5.1, PetalWidthCm=1.5, Species='Iris-virginica')
Pandas(Index=134, Id=135, SepalLengthCm=6.1, SepalWidthCm=2.6, PetalLengthCm=5.6, PetalWidthCm=1.4, Species='Iris-virginica')
Pandas(Index=135, Id=136, SepalLengthCm=7.7, SepalWidthCm=3.0, PetalLengthCm=6.1, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=136, Id=137, SepalLengthCm=6.3, SepalWidthCm=3.4, PetalLengthCm=5.6, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=137, Id=138, SepalLengthCm=6.4, SepalWidthCm=3.1, PetalLengthCm=5.5, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=138, Id=139, SepalLengthCm=6.0, SepalWidthCm=3.0, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=139, Id=140, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=5.4, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=140, Id=141, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=5.6, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=141, Id=142, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=5.1, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=142, Id=143, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=143, Id=144, SepalLengthCm=6.8, SepalWidthCm=3.2, PetalLengthCm=5.9, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=144, Id=145, SepalLengthCm=6.7, SepalWidthCm=3.3, PetalLengthCm=5.7, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=145, Id=146, SepalLengthCm=6.7, SepalWidthCm=3.0, PetalLengthCm=5.2, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=146, Id=147, SepalLengthCm=6.3, SepalWidthCm=2.5, PetalLengthCm=5.0, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=147, Id=148, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.2, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=148, Id=149, SepalLengthCm=6.2, SepalWidthCm=3.4, PetalLengthCm=5.4, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=149, Id=150, SepalLengthCm=5.9, SepalWidthCm=3.0, PetalLengthCm=5.1, PetalWidthCm=1.8, Species='Iris-virginica')

In [10]:
# aggregate operation - sum, max, min, count, mean, median
df.sum(numeric_only=None)

df[['SepalLengthCm', 'PetalWidthCm']].sum()

df[['SepalLengthCm', 'PetalWidthCm']].sum(axis = 1)

0      5.3
1      5.1
2      4.9
3      4.8
4      5.2
      ...
145    9.0
146    8.2
147    8.5
148    8.5
149    7.7
Length: 150, dtype: float64

In [11]:
df.mean(numeric_only=True, axis=1)

df[['SepalLengthCm', 'PetalWidthCm']].mean()

df[['SepalLengthCm', 'PetalWidthCm']].mean(axis = 1)

0      2.65
1      2.55
2      2.45
3      2.40
4      2.60
       ...
145    4.50
146    4.10
147    4.25
148    4.25
149    3.85
Length: 150, dtype: float64

In [12]:
df.median(numeric_only=True, axis=1)
df.median(numeric_only=True, axis=0)

df[['SepalLengthCm', 'PetalWidthCm']].median()

df[['SepalLengthCm', 'PetalWidthCm', 'SepalWidthCm' ]].median(axis = 1)

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Length: 150, dtype: float64

In [13]:
l = [45, 54, 21, 76, 23, 3, 23, 56, 86, 5]
l.sort()
l

[3, 5, 21, 23, 23, 45, 54, 56, 76, 86]

In [14]:
(23+45)/2

34.0

In [15]:
df['SepalLengthCm'].quantile([0, 0.25, 0.5, 0.75, 1])

0.00    4.3
0.25    5.1
0.50    5.8
0.75    6.4
1.00    7.9
Name: SepalLengthCm, dtype: float64

In [16]:
df['SepalLengthCm'][df['SepalLengthCm']<5.1].count()

32

In [17]:
df['SepalLengthCm'][(df['SepalLengthCm']<5.8) & (df['SepalLengthCm']>=5.1)].count()

41

In [18]:
df['SepalLengthCm'][(df['SepalLengthCm']<6.4) & (df['SepalLengthCm']>=5.8)].count()

35

In [19]:
df['SepalLengthCm'][(df['SepalLengthCm']<7.9) & (df['SepalLengthCm']>=6.4)].count()

41

In [20]:
df['SepalLengthCm'].quantile([0, 0.1, 0.15, 0.25, 0.5, 0.75, 1])

0.00    4.3
0.10    4.8
0.15    5.0
0.25    5.1
0.50    5.8
0.75    6.4
1.00    7.9
Name: SepalLengthCm, dtype: float64

In [21]:
df = pd.read_csv('dataset.csv')

In [22]:
df.head()

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
0,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),34.0,101-1,Occupied Discharge
1,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),35.0,101-1P,Occupied Discharge
2,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),36.0,101-2,Vacant Dirty
3,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),37.0,101-2P,Vacant Dirty
4,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),38.0,101-3,Vacant Dirty

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BUILDINGKEY  1000 non-null   float64
 1   FLOORKEY     1000 non-null   float64
 2   FLOORNAME    1000 non-null   object
 3   NURSEKEY     1000 non-null   object
 4   NURSENAME    1000 non-null   object
 5   ROOMKEY      1000 non-null   float64
 6   ROOMNAME     1000 non-null   object
 7   BEDKEY       1000 non-null   float64
 8   BEDNAME      992 non-null    object
 9   BEDSTATUS    1000 non-null   object
dtypes: float64(4), object(6)
memory usage: 86.1+ KB

In [24]:
df.tail()

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = df.dropna(how='all')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BUILDINGKEY  1000 non-null   float64
 1   FLOORKEY     1000 non-null   float64
 2   FLOORNAME    1000 non-null   object
 3   NURSEKEY     1000 non-null   object
 4   NURSENAME    1000 non-null   object
 5   ROOMKEY      1000 non-null   float64
 6   ROOMNAME     1000 non-null   object
 7   BEDKEY       1000 non-null   float64
 8   BEDNAME      992 non-null    object
 9   BEDSTATUS    1000 non-null   object
dtypes: float64(4), object(6)
memory usage: 85.9+ KB

In [32]:
df[pd.isnull(df['BEDNAME'])]

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
777,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1059.0,NaN,Available
778,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1060.0,NaN,Available
779,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1061.0,NaN,Available
780,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1062.0,NaN,Available
781,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1063.0,NaN,Available
782,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1064.0,NaN,Available
783,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1065.0,NaN,Available
784,5.0,10.0,Second Floor NT,1058,NT Admission Lounge,1450.0,Room 299 (Admission Lounge),1066.0,NaN,Available

In [35]:
df.pivot_table(index='NURSENAME', values='BEDNAME', aggfunc='count')

                              BEDNAME
NURSENAME
Daycare Endoscopy                  32
Daycare Haemato & Onco Adult       35
Daycare Haemato & Onco Paed        11
Daycare Imaging                    10
Daycare Surgery                    50
NT Admission Lounge                28
NT ICU                             16
NT Labour Room                     42
NT NICU                             8
NT Nursery                        118
NT Paed HDU                        16
NT Ward 2D                        110
NT Ward 3D                         78
NT Ward 4D                         76
NT Ward 5C                         50
NT Ward 5D                         41
ST CCU                             11
ST HDU                              6
ST ICU                              9
ST Ward 2A                         30
ST Ward 3A                         31
ST Ward 3B                         45
ST Ward 4A                         45
ST Ward 4B                         33
ST Ward 5A                         35
ST Ward 5B                         26

In [37]:
g = df.groupby(by = 'NURSENAME')

In [44]:
g['BEDNAME'].count()

NURSENAME
Daycare Endoscopy                32
Daycare Haemato & Onco Adult     35
Daycare Haemato & Onco Paed      11
Daycare Imaging                  10
Daycare Surgery                  50
NT Admission Lounge              28
NT ICU                           16
NT Labour Room                   42
NT NICU                           8
NT Nursery                      118
NT Paed HDU                      16
NT Ward 2D                      110
NT Ward 3D                       78
NT Ward 4D                       76
NT Ward 5C                       50
NT Ward 5D                       41
ST CCU                           11
ST HDU                            6
ST ICU                            9
ST Ward 2A                       30
ST Ward 3A                       31
ST Ward 3B                       45
ST Ward 4A                       45
ST Ward 4B                       33
ST Ward 5A                       35
ST Ward 5B                       26
Name: BEDNAME, dtype: int64

In [48]:
df_room = df.pivot_table(index='ROOMNAME', values='BEDNAME', aggfunc='count')

In [49]:
df_room.to_csv('room.csv')

In [50]:
df_status = df.pivot_table(index='BEDSTATUS', values='BEDNAME', aggfunc='count')
df_status

                    BEDNAME
BEDSTATUS
Available               527
Blocked                   2
Occupied Discharge       59
Occupied(Female)        104
Occupied(Male)           90
Vacant Dirty            210

In [53]:
total_occupied = df_status.iloc[1:, :].sum()

In [54]:
total_occupied/10

BEDNAME    46.5
dtype: float64

In [55]:
ward = df.pivot_table(index='NURSENAME', values='BEDNAME', columns = 'BEDSTATUS', aggfunc='count')

In [57]:
ward.fillna(0, inplace=True)
ward

BEDSTATUS,Available,Blocked,Occupied Discharge,Occupied(Female),Occupied(Male),Vacant Dirty
NURSENAME,,,,,,
Daycare Endoscopy,16.0,0.0,6.0,0.0,0.0,10.0
Daycare Haemato & Onco Adult,3.0,0.0,2.0,0.0,0.0,30.0
Daycare Haemato & Onco Paed,2.0,0.0,0.0,0.0,0.0,9.0
Daycare Imaging,4.0,0.0,0.0,0.0,0.0,6.0
Daycare Surgery,12.0,0.0,4.0,0.0,0.0,34.0
NT Admission Lounge,26.0,0.0,0.0,0.0,0.0,2.0
NT ICU,6.0,0.0,0.0,8.0,2.0,0.0
NT Labour Room,42.0,0.0,0.0,0.0,0.0,0.0
NT NICU,4.0,0.0,0.0,2.0,2.0,0.0
NT Nursery,98.0,0.0,0.0,0.0,2.0,18.0
NT Paed HDU,16.0,0.0,0.0,0.0,0.0,0.0
NT Ward 2D,70.0,0.0,2.0,12.0,18.0,8.0
NT Ward 3D,22.0,0.0,20.0,22.0,0.0,14.0
NT Ward 4D,42.0,2.0,6.0,4.0,2.0,20.0
NT Ward 5C,50.0,0.0,0.0,0.0,0.0,0.0
NT Ward 5D,2.0,0.0,2.0,17.0,9.0,11.0
ST CCU,4.0,0.0,0.0,1.0,6.0,0.0
ST HDU,2.0,0.0,0.0,1.0,3.0,0.0
ST ICU,4.0,0.0,1.0,0.0,4.0,0.0
ST Ward 2A,5.0,0.0,4.0,4.0,9.0,8.0
ST Ward 3A,2.0,0.0,7.0,13.0,7.0,2.0
ST Ward 3B,32.0,0.0,3.0,0.0,2.0,8.0
ST Ward 4A,26.0,0.0,1.0,3.0,8.0,7.0
ST Ward 4B,21.0,0.0,1.0,1.0,1.0,9.0
ST Ward 5A,8.0,0.0,0.0,12.0,8.0,7.0
ST Ward 5B,8.0,0.0,0.0,4.0,7.0,7.0

In [64]:
ward['Total'] = ward.iloc[:,0:6].sum(axis=1)
ward['Occupied'] = ward.iloc[:,1:6].sum(axis=1)

In [66]:
ward['Occupancy'] = (ward['Occupied']*100)//ward['Total']

In [67]:
ward

BEDSTATUS,Available,Blocked,Occupied Discharge,Occupied(Female),Occupied(Male),Vacant Dirty,Total,Occupied,Occupancy
NURSENAME,,,,,,,,,
Daycare Endoscopy,16.0,0.0,6.0,0.0,0.0,10.0,32.0,16.0,50.0
Daycare Haemato & Onco Adult,3.0,0.0,2.0,0.0,0.0,30.0,35.0,32.0,91.0
Daycare Haemato & Onco Paed,2.0,0.0,0.0,0.0,0.0,9.0,11.0,9.0,81.0
Daycare Imaging,4.0,0.0,0.0,0.0,0.0,6.0,10.0,6.0,60.0
Daycare Surgery,12.0,0.0,4.0,0.0,0.0,34.0,50.0,38.0,76.0
NT Admission Lounge,26.0,0.0,0.0,0.0,0.0,2.0,28.0,2.0,7.0
NT ICU,6.0,0.0,0.0,8.0,2.0,0.0,16.0,10.0,62.0
NT Labour Room,42.0,0.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0
NT NICU,4.0,0.0,0.0,2.0,2.0,0.0,8.0,4.0,50.0
NT Nursery,98.0,0.0,0.0,0.0,2.0,18.0,118.0,20.0,16.0
NT Paed HDU,16.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0
NT Ward 2D,70.0,0.0,2.0,12.0,18.0,8.0,110.0,40.0,36.0
NT Ward 3D,22.0,0.0,20.0,22.0,0.0,14.0,78.0,56.0,71.0
NT Ward 4D,42.0,2.0,6.0,4.0,2.0,20.0,76.0,34.0,44.0
NT Ward 5C,50.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0
NT Ward 5D,2.0,0.0,2.0,17.0,9.0,11.0,41.0,39.0,95.0
ST CCU,4.0,0.0,0.0,1.0,6.0,0.0,11.0,7.0,63.0
ST HDU,2.0,0.0,0.0,1.0,3.0,0.0,6.0,4.0,66.0
ST ICU,4.0,0.0,1.0,0.0,4.0,0.0,9.0,5.0,55.0
ST Ward 2A,5.0,0.0,4.0,4.0,9.0,8.0,30.0,25.0,83.0
ST Ward 3A,2.0,0.0,7.0,13.0,7.0,2.0,31.0,29.0,93.0
ST Ward 3B,32.0,0.0,3.0,0.0,2.0,8.0,45.0,13.0,28.0
ST Ward 4A,26.0,0.0,1.0,3.0,8.0,7.0,45.0,19.0,42.0
ST Ward 4B,21.0,0.0,1.0,1.0,1.0,9.0,33.0,12.0,36.0
ST Ward 5A,8.0,0.0,0.0,12.0,8.0,7.0,35.0,27.0,77.0
ST Ward 5B,8.0,0.0,0.0,4.0,7.0,7.0,26.0,18.0,69.0