In [3]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('Lab tests.csv', sep='|')

In [12]:
df

,CPT_CODE,BLOCK,SHORT_DESCRIPTION,LONG_DESCRIPTION
0,82652,VITAMIN D,VIT D 1 25-DIHYDROXY,1 25 DIHYDROXY INCLUDES FRACTIONS IF PERFORMED
1,82306,VITAMIN D,VITAMIN D 25 HYDROXY,25 HYDROXY INCLUDES FRACTIONS IF PERFORMED
2,81327,SEPT9 METHYLATION,SEPT9 METHYLATION ANALYSIS,SEPT9 METHYLATION ANALYSIS
3,84143,17-HYDROXYPREGNENOLONE,ASSAY OF 17-HYDROXYPREGNENO,17-HYDROXYPREGNENOLONE
4,81170,ABL1,ABL1 GENE,ABL1 GENE ANALYSIS KINASE DOMAIN VARIANTS
...,...,...,...,...
1496,81465,WHOLE,WHOLE MITOCHONDRIAL GENOME,WHOLE MITOCHONDRIAL GENOME ANALYSIS PANEL
1497,81470,X-LINKED,X-LINKED INTELLECTUAL DBLT,X-LINKED INTELLECTUAL DBLT GENOMIC SEQ ANALYS
1498,81471,X-LINKED,X-LINKED INTELLECTUAL DBLT,X-LINKED INTELLECTUAL DBLT DUP/DEL GENE ANALYS
1499,84620,XYLOSE,XYLOSE TOLERANCE TEST,XYLOSE ABSORPTION TEST BLOOD &/URINE
1500,86794,ZIKA,ZIKA VIRUS IGM ANTIBODY,ZIKA VIRUS IGM ANTIBODY

# Learnings
1 installing jupyter notebook <br>
2 opening jupyter notebook <br>
3 code cell <br>
4 markdown cell <br>
5 execution of code in the cell <br>
6 working with pandas <br>
7 reading csv file with different separators <br>
8 dataframe properties <br>
9 Data types in Pandas <br>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CPT_CODE           1501 non-null   object
 1   BLOCK              1501 non-null   object
 2   SHORT_DESCRIPTION  1501 non-null   object
 3   LONG_DESCRIPTION   1501 non-null   object
dtypes: object(4)
memory usage: 47.0+ KB

In [14]:
df.describe()

,CPT_CODE,BLOCK,SHORT_DESCRIPTION,LONG_DESCRIPTION
count,1501,1501,1501,1501
unique,1500,460,1430,1498
top,CPT_CODE,ASSAY,AUTOPSY (NECROPSY) GROSS,BLOOD COUNT RETICULOCYTE AUTOMATED
freq,2,153,6,2

In [15]:
df1 = pd.read_csv('Iris.csv')

In [16]:
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [19]:
df1.head()
df1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [21]:
df1.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
df1.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [24]:
df1.index

RangeIndex(start=0, stop=150, step=1)

In [25]:
df1.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Id,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [26]:
df1.shape

(150, 6)

In [2]:
# Data structure in Pandas
# Series - 1 Dimensional
# DataFrame - 2 Dimensional (row/ columns)
# Pannel - nD

In [3]:
# Create, Update, Read Series, Operations on series

# Create a Series
'''
- list
- dictionary
- tuple
- range function
- scaler
'''

'\n- list\n- dictionary\n- tuple\n- range function\n- scaler\n'

In [4]:
# list
days = ['Sunday', 'Mondday', 'Tuesday', 'Wednesday']
s = pd.Series(days)

In [6]:
s

0       Sunday
1      Mondday
2      Tuesday
3    Wednesday
dtype: object

In [7]:
s.dtype
type(s)

pandas.core.series.Series

In [ ]:
s.index

In [10]:
s.values

array(['Sunday', 'Mondday', 'Tuesday', 'Wednesday'], dtype=object)

In [12]:
s.name = 'Days'

In [13]:
s

0       Sunday
1      Mondday
2      Tuesday
3    Wednesday
Name: Days, dtype: object

In [14]:
s.shape

(4,)

In [15]:
s.name

'Days'

In [16]:
day1 = {'A':'Sunday', 'B':'Mondday', "C":'Tuesday', 'D':'Wednesday'}
s1 = pd.Series(day1)

In [17]:
s1

A       Sunday
B      Mondday
C      Tuesday
D    Wednesday
dtype: object

In [18]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
s2 = pd.Series(days, index=['jun', 'may', 'oct', 'pct'])

In [20]:
s2

jun       Sunday
may      Mondday
oct      Tuesday
pct    Wednesday
dtype: object

In [21]:
t = (3, 5, 6 ,3,2)
s3 = pd.Series(t)

In [22]:
s3

0    3
1    5
2    6
3    3
4    2
dtype: int64

In [10]:
s4 = pd.Series(3,index=['A', 'V', 'D', 't'] )
s4

A    3
V    3
D    3
t    3
dtype: int64

In [11]:
s4['V']

3

In [25]:
s5 = pd.Series(range(5, 51, 5))
s5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64

In [8]:
s5 = pd.Series(range(5, 51, 5), dtype='object')
s5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: object

In [9]:
s5[6]

35

In [18]:
s5[::2]

0     5
2    15
4    25
6    35
8    45
dtype: object

In [20]:
s5[::-1]

9    50
8    45
7    40
6    35
5    30
4    25
3    20
2    15
1    10
0     5
dtype: object

In [21]:
# create Dataframe
# list of lists [[], [], [], [], []]
# list of dicts [{}, {}, {}, {}]
# list of tuples [(), (), ()]
# dict of lists {0:[], 1:[], 2:[]}
# dict of dicts
# column wise
# list of series
# columnwise from series

In [22]:
l = [
    ['A', 'S', 'D', 'F', 'G', 'H'],
    [5, 6, 4, 3, 3, 7]
]

In [24]:
df = pd.DataFrame(l, columns=[x for x in 'abcdef'])
df

   a  b  c  d  e  f
0  A  S  D  F  G  H
1  5  6  4  3  3  7

In [25]:
l = [
    {'A':1, 'B':4},
    {'A':1, 'B':5},
    {'A':6, 'B':4}
]
df = pd.DataFrame(l)
df

   A  B
0  1  4
1  1  5
2  6  4